# Rust/WASM
/wasm/target/
/wasm/pkg/

# Node / Vite
/www/node_modules/
/www/dist/
/www/.vite/

/public/gallery

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

leo_ssh_key
leo_ssh_key.pub
